.jumbotron {
  background-image: url("../img/doughnut-burger.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
  color: white;
  margin-top: 3%;
}
/* Text-box text color */
#newburger {
  color: black;
}
#leftside {
  background-color: green;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#rightside {
  background-color: orange;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
